In [10]:
import pandas as pd
lista = list(range(1,70,4))
lista_2 = list(reversed(range(1,70,4)))
dicc = dict(x = lista, y = lista_2)

In [11]:
df = pd.DataFrame(dicc)
df

     x   y
0    1  69
1    5  65
2    9  61
3   13  57
4   17  53
5   21  49
6   25  45
7   29  41
8   33  37
9   37  33
10  41  29
11  45  25
12  49  21
13  53  17
14  57  13
15  61   9
16  65   5
17  69   1

* Muestreo Aleatorio Simple

In [12]:
muestreo_a_simple = df.sample(8)

In [13]:
muestreo_a_simple

     x   y
5   21  49
6   25  45
9   37  33
7   29  41
0    1  69
8   33  37
2    9  61
16  65   5

* Muestreo Aleatorio Simple - Porcentajes

In [14]:
#Muestreo al 10%
muestreo_a_simple_porcentaje = df.sample(frac=.10)

In [15]:
muestreo_a_simple_porcentaje

     x   y
11  45  25
15  61   9

* Muestro Aleatorio Sistem√°tico.

In [17]:
import numpy as np

def muestreo_sistematico(tabla,salto):
    indices = np.arange(0,len(tabla),step=salto)
    muestreo_simple = tabla.iloc[indices]
    return muestreo_simple
 
#Se eligen a los que tienen una posici√≥n m√∫ltiplo de 3. 
ejemplo_muestreo = muestreo_sistematico(df,3)
ejemplo_muestreo

     x   y
0    1  69
3   13  57
6   25  45
9   37  33
12  49  21
15  61   9

* Muestro Aleatorio Estratificado.

In [18]:
df["z"] = df["x"] + df["y"]

In [28]:
df["z"] = [True,False,False,False,False,True,False,True,False,True,False,True,False,True,True,False,False,False]

In [31]:
df["z"].value_counts()/len(df)

False    0.611111
True     0.388889
Name: z, dtype: float64

* Se desea una muestra donde la proporci√≥n sea exactamente
    * False = 0.60
    * True = 0.40

In [32]:
def data_estratificada(df,nom_columnas,lista_valores,proporcion,random_state=None):
    df_estrat = pd.DataFrame(columns=df.columns)
    pos = -1
    for i in range(len(lista_valores)):
        pos+=1
        if pos == len(lista_valores)-1:
            ratio_len = len(df) - len(df_estrat)
        else:
            ratio_len = int(len(df)*proporcion[i])
       
        df_filtrado = df[df[nom_columnas] == lista_valores[i]]
        df_temp = df_filtrado.sample(replace = True, n=ratio_len,random_state=random_state)
 
        df_estrat = pd.concat([df_estrat,df_temp])
    return df_estrat

In [59]:
valores = [True,False]
proporcion = [0.5,0.5]

In [60]:
muestreo_estratificado = data_estratificada(df,"z",valores,proporcion,random_state=42)

In [61]:
muestreo_estratificado

     x   y      z
14  57  13   True
9   37  33   True
11  45  25   True
14  57  13   True
7   29  41   True
11  45  25   True
11  45  25   True
14  57  13   True
5   21  49   True
10  41  29  False
4   17  53  False
17  69   1  False
12  49  21  False
6   25  45  False
10  41  29  False
16  65   5  False
3   13  57  False
10  41  29  False

# Comprobacion

In [62]:
muestreo_estratificado["z"].value_counts()/len(df)

True     0.5
False    0.5
Name: z, dtype: float64