# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [1]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [2]:
print(hash_function('ARG'))
print(hash_function('BRA'))

894
872

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|', decimal=',', encoding='latin-1', thousands='.')

In [5]:
df.dropna(inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   float64
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 493.8+ KB

In [7]:
df.rename(columns={'Código de país': 'cod_pais',
                  'Nombre del país': 'nom_pais',
                  'CO2 (kt)': 'emision_co2',
                  'CO2 per cápita (toneladas métricas)': 'emisiones_co2_percapita'}, inplace=True)

In [8]:
df['clave_hash'] = df['nom_pais'].apply(hash_function)

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [9]:
df

,cod_pais,nom_pais,Región,Año,emision_co2,emisiones_co2_percapita,clave_hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,2324
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,2324
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,2324
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,2324
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,2324
...,...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,9732.220,0.731867,4963
11123,ZWE,Zimbabue,África subsahariana,2008,7682.370,0.569255,4963
11124,ZWE,Zimbabue,África subsahariana,2009,8239.750,0.600521,4963
11125,ZWE,Zimbabue,África subsahariana,2010,9028.150,0.646073,4963
11126,ZWE,Zimbabue,África subsahariana,2011,9860.560,0.691698,4963

In [10]:
df_paises_unicos = df[['clave_hash', 'cod_pais', 'nom_pais', 'Región']].drop_duplicates()

In [11]:
df_paises_unicos.drop_duplicates().reset_index()

,index,clave_hash,cod_pais,nom_pais,Región
0,26,2324,ABW,Aruba,América Latina y Caribe
1,87,4063,AND,Andorra,Europa y Asia Central
2,104,8659,AFG,Afganistán,Sur de Asia
3,156,3105,AGO,Angola,África subsahariana
4,208,3892,ALB,Albania,Europa y Asia Central
...,...,...,...,...,...
194,10867,2394,YEM,Yemen,Oriente Medio y Norte de África
195,10919,6621,ZAF,Sudáfrica,África subsahariana
196,10971,49377,COD,Congo (República Democrática),África subsahariana
197,11027,3057,ZMB,Zambia,África subsahariana
198,11079,4963,ZWE,Zimbabue,África subsahariana

In [12]:
df.drop(['cod_pais', 'nom_pais', 'Región'], inplace=True, axis=1)

In [26]:
df_paises_unicos["clave_hash"].size

199