In [2]:
import pandas as pd
df = pd.read_csv("tabla1.2.csv")

In [3]:
df

        Estado   Población  Homicidios Abreviatura
0      Alabama   4 779 736         5.7          AL
1       Alaska     710 231         5.6          AK
2      Arizona   6 392 017         4.7          Al
3     Arkansas   2 915 918         5.6          AR
4   California  37 253 956         4.4          CA
5     Colorado   5 029 196         2.8          CO
6  Connecticut   3 574 097         2.4          CT
7     Delaware     897 934         5.8          DE

In [4]:
lista_poblacion = [int(elemento.replace(" ","")) for elemento in df["Población"]]

In [5]:
df["Población"] = lista_poblacion

In [6]:
df

        Estado  Población  Homicidios Abreviatura
0      Alabama    4779736         5.7          AL
1       Alaska     710231         5.6          AK
2      Arizona    6392017         4.7          Al
3     Arkansas    2915918         5.6          AR
4   California   37253956         4.4          CA
5     Colorado    5029196         2.8          CO
6  Connecticut    3574097         2.4          CT
7     Delaware     897934         5.8          DE

In [7]:
df.dtypes

Estado          object
Población        int64
Homicidios     float64
Abreviatura     object
dtype: object

Procedemos con el Código del Libro
- Atención el Dataframe no es el Completo solo una muestra

In [8]:
import scipy.stats as sy #Media Truncada

Hallar la Media

In [9]:
df["Población"].mean()

7694135.625

Hallar la Mediana

In [10]:
df["Población"].median()

4176916.5

Hallar la Media Truncada en un porcentaje, 20%

In [11]:
#Se emplea la librería import scipy.stats as sy
sy.trim_mean(df["Población"],0.2) #Ignora el 20% de cada extremo

3931483.0

Si Quisieramos obtener una tasa promedio, de acuerdo a la población

* Debemos optar por la media ponderada

In [12]:
import numpy as np
np.average(df["Homicidios"], weights= df["Población"])

4.376359279149048

* En caso de que se necesite la mediana ponderada

In [13]:
#wquantiles.median(df["Homicidios"],weights= df["Población"])

# Conclusión

* La media es la métrica básica para la localización central pero como es sensible a valores extremos..
* Otras métricas como la mediana o media truncada pueden ser de muchisima utilidad, a parte de ser muy robustas.

In [15]:
#Exportar CSV
df.to_csv("tabla1.2_clean.csv",index=False)