In [1]:
import pandas as pd
df = pd.read_excel("emails.xlsx")

* Creamos el Dataframe

In [2]:
df

                        emails
0    yakomo.aucca@unmsm.edu.pe
1   roger.cabrera@unmsm.edu.pe
2   Miguel.cAstro@unmsm.edu.pe
3  gonzalo.artadi@unmsm.edu.pe

In [3]:
#Listas con los apartados que llenaremos
nombres = []
apellidos = []

for elementos in df["emails"]: #en la columna específica
    f_nombre = elementos.split("@")[0] #Separamos por arroba y nos quedamos con el primer elemento. 
    nombre,apellido = f_nombre.split(".") #Separamos por el punto y los asignamos. 
    nombres.append(nombre.title()) #Agregamos a nombres - Cuidar el formato
    apellidos.append(apellido.title()) #Agreamos a apellidos - Cuidar el formato.

In [4]:
df["nombre"] = nombres
df["apellido"] = apellidos

In [5]:
df

                        emails   nombre apellido
0    yakomo.aucca@unmsm.edu.pe   Yakomo    Aucca
1   roger.cabrera@unmsm.edu.pe    Roger  Cabrera
2   Miguel.cAstro@unmsm.edu.pe   Miguel   Castro
3  gonzalo.artadi@unmsm.edu.pe  Gonzalo   Artadi

In [6]:
df.to_excel("final.xlsx",index=False)

* Group By & Get Group (investigar)

# Bonus Funcion buscar

In [7]:
def buscarv (columna,elemento):
    condicion = df[columna] == elemento
    return df[condicion]

* Hay distinción entre mayúsculas y minúsculas

In [10]:
buscarv("nombre","Roger")

                       emails nombre apellido
1  roger.cabrera@unmsm.edu.pe  Roger  Cabrera