In [1]:
import pandas as pd

* Series

In [5]:
#Arreglo unidimensional junto a sus indices propuestos
jugadores = pd.Series(["Navas","Mbappe","Japones","Peruano"], index=[1,7,10,30])

In [6]:
jugadores

1       Navas
7      Mbappe
10    Japones
30    Peruano
dtype: object

In [7]:
jugadores = pd.Series(["Navas","Mbappe","Japones","Peruano"])

In [8]:
jugadores

0      Navas
1     Mbappe
2    Japones
3    Peruano
dtype: object

* Definimos una serie como si fuese un diccionario

In [10]:
dicc = {1:"Navas",7:"Mbape",10:"Hola",11:"Peruano"}
jugadores_alt = pd.Series(dicc)

In [11]:
jugadores_alt

1       Navas
7       Mbape
10       Hola
11    Peruano
dtype: object

In [13]:
#Recuerda que accedemos a la información por indices
jugadores_alt[10]

'Hola'

# Primer DataFrame

In [17]:
dicc = {"Jugador":["Navas","Mbabpe","Neymar","Messi"], "Altura":[1.65,1.72,1.8,1.6],"Goles":[2,200,200,200]}

In [18]:
df = pd.DataFrame(dicc) #Recuerda que también puedes definir los indices.

In [19]:
df

  Jugador  Altura  Goles
0   Navas    1.65      2
1  Mbabpe    1.72    200
2  Neymar    1.80    200
3   Messi    1.60    200

* Acceder a los nombres de las columnas

In [20]:
df.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

* Tener una idea del comportamiento de nuestros indices

In [21]:
#De 0 a 4 con saltos predefinidos por 1
df.index

RangeIndex(start=0, stop=4, step=1)