# Manejo de Datos nulos

In [2]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd
import numpy as np

dict = {'Col1':[1,2,3,np.nan],
'Col2':[4, np.nan,6,7],
'Col3':['a','b','c', None]}

In [12]:
df = pd.DataFrame(dict)

In [5]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

¿Como manejar datos nulos?

In [8]:
#Observar individualmente un elemento faltante. 
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [10]:
#Forma Alternatica
df.isnull() * 1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

* Reemplazar Valores Nulos

In [11]:
df.fillna("Missing")

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

* Reemplazar valores nulos estadísticamente

In [14]:
#Esto se llevara acabo por columna y donde no se pueda incurrirá en un warning
df.fillna(df.mean())

C:\Users\User\AppData\Local\Temp\ipykernel_1880\886344806.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

* Reemplazar valores nulos por interpolacion

In [15]:
#Solo funciona con aspectos numéricos. 
df.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

* En ocasiones también es viable dropear valores nulos

In [16]:
#En todo registro que se obtenga valores faltantes será descartado. 
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c