In [202]:
#Escribir un CSV a través de otro
import csv
archivo = open("videojuegos.csv",encoding="utf-8")
for linea in archivo:
    print(linea)

Nombre;Plataforma;Año de Lanzamiento;Puntaje (Metacritic);Puntaje Usuario

The Legend of Zelda: Ocarina of Time;Nintendo64;1.998;99;9,1

Tony Hawk's Pro Skater 2;PlayStation;2.000;98;7,4

Grand Theft Auto IV;PlayStation3;2.008;98;;

SoulCalibur;Dreamcast;1.999;98;8,5

Grand Theft Auto IV;Xbox360;2.008;98;7,9

Super Mario Galaxy;Wii;2.007;97;9,0

Super Mario Galaxy 2;Wii;2.010;97;9,1

In [203]:
#Escribir un CSV a través de otro
import csv
archivo = open("videojuegos.csv",encoding="utf-8")
new_archivo = csv.reader(archivo,delimiter=";")
with open("salida.csv","w",encoding="latin-1",newline="") as salida:
    archivo_salida = csv.writer(salida)
    archivo_salida.writerow(["nombre","plataforma","año_lanzamiento","puntaje_mete","puntaje_user"])
    next(new_archivo)
    for lista in new_archivo:
        for i in range (len(lista)):
            lista[i] = lista[i].strip()
        archivo_salida.writerow([lista[0],lista[1],lista[2],lista[3],lista[4]])

In [204]:
#Confirmamos con Pandas
import pandas as pd
import numpy as np
df = pd.read_csv("salida.csv",encoding="latin-1",thousands=".",decimal=",")
df

,nombre,plataforma,año_lanzamiento,puntaje_mete,puntaje_user
0,The Legend of Zelda: Ocarina of Time,Nintendo64,1998,99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,2000,98,7.4
2,Grand Theft Auto IV,PlayStation3,2008,98,NaN
3,SoulCalibur,Dreamcast,1999,98,8.5
4,Grand Theft Auto IV,Xbox360,2008,98,7.9
5,Super Mario Galaxy,Wii,2007,97,9.0
6,Super Mario Galaxy 2,Wii,2010,97,9.1

In [205]:
def controlador_nulos(item):
    if(np.isnan(item)):
        return None
    else:
        return int(item*10)


lista = [controlador_nulos(elemento) for elemento in df["puntaje_user"]]
lista

[91, 74, None, 85, 79, 90, 91]

In [206]:
#Metodo avanzado, podemos a cada variable columna, asignarle una lista, arreglo etc, para modificarlo
df = df.assign(puntaje_user = lista) #Los nuevos se agregaran, los repetidos se sobreescribirán.

In [207]:
df.to_csv("salida_pandas.csv",index=False,encoding="utf-8")

In [214]:
df[df["puntaje_user"].isna()]

,nombre,plataforma,año_lanzamiento,puntaje_mete,puntaje_user
2,Grand Theft Auto IV,PlayStation3,2008,98,NaN