## Graficar Variables categ√≥ricas en Seaborn

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
tips = sns.load_dataset("tips")
tips.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3