# Calcular Salario según Horario

In [21]:
import pandas as pd
nombre = ["Alejandro","Matias","Diego"]
entrada = ["09:21:00","09:52:00","09:15:00"]
salida = ["17:13:00","17:47:00","17:36:00"]
salario_h = [30,14,19]
dicc = dict(nombre = nombre,entrada=entrada,salida=salida,salario_h=salario_h)
df = pd.DataFrame(dicc)

In [22]:
df

      nombre   entrada    salida  salario_h
0  Alejandro  09:21:00  17:13:00         30
1     Matias  09:52:00  17:47:00         14
2      Diego  09:15:00  17:36:00         19

* Calculamos las Horas

In [23]:
from datetime import datetime
import numpy as np

In [24]:
horas = []
for indice in range(len(df["nombre"])): #Limita la cantidad de veces a la cantidad de registros.
    #Lo convierte a formato tiempo
    salida = datetime.strptime(df["salida"][indice],"%H:%M:%S")
    entrada = datetime.strptime(df["entrada"][indice],"%H:%M:%S") #Este ultimo es el formato
    #Calcula diferencia de tiempo. 
    diferencia = salida - entrada
    #Obtengo las horas a través de los segundos
    total_horas = diferencia.total_seconds()/3600
    #Agrego este elemento a la lista correspondiente.
    horas.append(total_horas)

In [25]:
#Aqui vimos un ejemplo de como redondeamos toda una columa con numpy
df["horas_trabajadas"] = np.round(horas,1)
#Operaciones entre series de pandas. 
df["total_pago"] = df["salario_h"] * df["horas_trabajadas"]

* Bonus: Al trabajar con excel es normal trabajar con filas vacías
    * Solución: df.dropna(how="all",inplace=True)