In [30]:
import pandas as pd
lista = [1,2,3,4,5]
#Invertir una lista correctamente.
lista2 = list(reversed(lista))
lista3 = ["a4","b6","c7","t2","x4"]
dicc = dict(x = lista,y=lista2,z=lista3)

* 1.- Crear un DataFrame

In [31]:
df = pd.DataFrame(dicc)
df

   x  y   z
0  1  5  a4
1  2  4  b6
2  3  3  c7
3  4  2  t2
4  5  1  x4

2.- Modificar Índices (index) a nuestro gusto

In [32]:
indices = ["01","02","03","04","05"]
df = pd.DataFrame(dicc,index=indices)
df

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7
04  4  2  t2
05  5  1  x4

3.- Obtener los nombres de las filas y columnas de nuestro DataFrame

In [33]:
indices = ["01","02","03","04","05"]
df = pd.DataFrame(dicc,index=indices)
df

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7
04  4  2  t2
05  5  1  x4

In [34]:
#Obtienes la denominación principal de la fila
df.index

Index(['01', '02', '03', '04', '05'], dtype='object')

In [35]:
#Obtienes el nombre de cada columa o variable. 
df.columns

Index(['x', 'y', 'z'], dtype='object')

4.- Obtener tipo de dato de un DataFrame (sencillo)

In [36]:
indices = ["01","02","03","04","05"]
df = pd.DataFrame(dicc,index=indices)
df

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7
04  4  2  t2
05  5  1  x4

In [37]:
#Obtener el tipo de dato de cada variable
df.dtypes
#Object en principio es de tipo string o relacionado.

x     int64
y     int64
z    object
dtype: object

5.- Obtener información General de nuestro DataFrame

In [38]:
df = pd.DataFrame(dicc,index=indices)
df

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7
04  4  2  t2
05  5  1  x4

* Primero nos arroja la clase del DATAFRAME
* La Cantidad total de Registros, primer indice y ultimo indice
* Datos de las columnas: Total de variables
* En la Tabla, nos muestra la lista de columnas, su nombre, cuantos datos no nulos ostenta, y el tipo de variable que maneja.
* Un resumen y por último la cantidad de bytes empleada.

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 01 to 05
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       5 non-null      int64
 1   y       5 non-null      int64
 2   z       5 non-null      object
dtypes: int64(2), object(1)
memory usage: 160.0+ bytes

6.- Obtener las columnas de un determinado tipo de dato. 
* Ejemplo: "Solo trabajaremos con las columnas con datos de tipo entero"

In [41]:
df = pd.DataFrame(dicc,index=indices)
df

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7
04  4  2  t2
05  5  1  x4

In [61]:
#Nos arroja las columnas con ese mismo tipo de dato
df.select_dtypes(int)
#En teoría funcionar pero en este caso mejor usamoe "object" en vez de "string"
#df.select_dtypes(str)
#Ejemplo adicional: En este caso no nos devolvería ninguna columna.
df.select_dtypes(float)
#También podríamos solo obtener el nombre de dichas columnas
df.select_dtypes(int).columns
#Obtener la cantidad de columnas/variables que son de ese tipo que buscamos
len(df.select_dtypes(int).columns)
#Si deseas seleccionar de dos tipos a más, usamos include [Podemos usar "int64"]
df.select_dtypes(include=["int","object"])

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7
04  4  2  t2
05  5  1  x4

7.- Obtener las primeras 3 filas de un DataFrame

In [62]:
df = pd.DataFrame(dicc,index=indices)
df

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7
04  4  2  t2
05  5  1  x4

In [63]:
#Head devuelve la cabecera de un dataframe, según un parámetro entero. 
df.head(3)

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7

In [66]:
#También podemos emplear un Slice, se puede agregar el 0 o no. 
df[:3]

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7

In [69]:
#Otro modo es con iloc
df.iloc[0:3]

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7

8.- Obtener la representación en Numpy de un objeto Dataframe

In [70]:
df = pd.DataFrame(dicc,index=indices)
df

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7
04  4  2  t2
05  5  1  x4

In [74]:
#De forma sencilla, lo "exportamos"
df.to_numpy()
#Obtenemos un arreglo, de un DataFrame.

array([[1, 5, 'a4'],
       [2, 4, 'b6'],
       [3, 3, 'c7'],
       [4, 2, 't2'],
       [5, 1, 'x4']], dtype=object)

9.- Seleccionar columnas de un objeto DataFrame empleando slicing.

In [75]:
df = pd.DataFrame(dicc,index=indices)
df

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7
04  4  2  t2
05  5  1  x4

In [83]:
#Desamos solo visualizar la primera y ultima columna--- como hacemos?
df[["x","z"]] #Relativamente sencillo.

    x   z
01  1  a4
02  2  b6
03  3  c7
04  4  t2
05  5  x4

10.- Obtener información de los registros juntos, filas y columnas

In [84]:
df = pd.DataFrame(dicc,index=indices)
df

    x  y   z
01  1  5  a4
02  2  4  b6
03  3  3  c7
04  4  2  t2
05  5  1  x4

In [91]:
df.axes

[Index(['01', '02', '03', '04', '05'], dtype='object'),
 Index(['x', 'y', 'z'], dtype='object')]

In [90]:
#Tenemos una lista de listas, conformada por la lista de indices, y la lista de columnas. 
for i in range(len(df.axes)):
    for j in range(len(df.axes[i])):
        print(df.axes[i][j])

01
02
03
04
05
x
y
z