* Probar infer_objects()
* Supuestamente, cambiará una variable de tipo objeto si es que puede a una más específica con la que podremos trabajar.

Dato Extra: np.nan != np.nan (True)

In [68]:
import pandas as pd
import numpy as np
lista = [np.nan,2,np.nan,4,5]
#Invertir una lista correctamente.
lista2 = list(reversed(lista))
lista3 = ["a4","b6","c7","t2","x4"]
dicc = dict(x = lista,y=lista2,z=lista3)

In [69]:
indices = ["01","02","03","04","05"]
df = pd.DataFrame(dicc,index=indices)
df

      x    y   z
01  NaN  5.0  a4
02  2.0  4.0  b6
03  NaN  NaN  c7
04  4.0  2.0  t2
05  5.0  NaN  x4

1.- Adicionar una columna adicional llamada "n" cuyo valor sea la suma de "x" y "y"

In [70]:
df["n"] = df["x"] + df["y"]
df

      x    y   z    n
01  NaN  5.0  a4  NaN
02  2.0  4.0  b6  6.0
03  NaN  NaN  c7  NaN
04  4.0  2.0  t2  6.0
05  5.0  NaN  x4  NaN

2.- Transformar la columna z , eliminando su caracter principal y convertir todos sus elementos a un entero, debes emplear la función assign.

In [71]:
#Empleamos una lista que se rellena por su cuenta. 
lista_z =[int(elemento[1:]) for elemento in df["z"]]

In [72]:
df = df.assign(z = lista_z)
df

      x    y  z    n
01  NaN  5.0  4  NaN
02  2.0  4.0  6  6.0
03  NaN  NaN  7  NaN
04  4.0  2.0  2  6.0
05  5.0  NaN  4  NaN

3.- Traer a revisión el/los registros que en la columna n sean nulos.

In [73]:
#Sencillo. 
df[df["n"].isna()]

      x    y  z   n
01  NaN  5.0  4 NaN
03  NaN  NaN  7 NaN
05  5.0  NaN  4 NaN

3.-La cantidad de dichos registros que presentan tal condición.

In [74]:
len(df[df["n"].isna()])

3

4.-Convertir una columna a otro tipo de dato

In [75]:
#Recibe un diccionario, donde se coloca la columna y el tipo de dato objetivo.
df = df.astype({"z":"float"})

In [76]:
df

      x    y    z    n
01  NaN  5.0  4.0  NaN
02  2.0  4.0  6.0  6.0
03  NaN  NaN  7.0  NaN
04  4.0  2.0  2.0  6.0
05  5.0  NaN  4.0  NaN