In [2]:
import numpy as np
import pandas as pd

In [11]:
#Veamos los Objetos Series en Pandas
arreglo = np.arange(2,10)
data = pd.Series(arreglo)
print(data)
#Sería como un vector pero puesto en forma de columna
#Recuerda que el parametro que recibe puede ser una lista o un arreglo

0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
dtype: int32

In [19]:
#Teniendo Así como podemos pasar de arreglo a Series, tambien de Series pasamos a arreglo.
#Esto con data.values
arreglo = np.arange(2,10)
data = pd.Series(arreglo)
print(data)
arreglo_inverso = data.values
print(arreglo_inverso)

0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
dtype: int32
[2 3 4 5 6 7 8 9]

In [24]:
#Data index nos arrroja el rango de indices de una tabla
arreglo = np.arange(2,10)
data = pd.Series(arreglo)
print(data)
data.index
#Tambien podríamos usar una mascara en la Serie y obtener los indices que cumplen la condicion de la misma

0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
dtype: int32

RangeIndex(start=0, stop=8, step=1)

In [25]:
arreglo = np.arange(2,10)
data = pd.Series(arreglo)
print(data)
#Para acceder a un elemento de la Serie tenemos: 
print("Este es el primer elemento de la Serie",data[0])

0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
dtype: int32
Este es el primer elemento de la Serie 2

In [33]:
arreglo = np.arange(2,10)
data = pd.Series(arreglo)
print(data)
#Si queremos acceder a los elementos desde un indice especifico
print("Desde el Tercer elemento, los elementos son",data[0:])

0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
dtype: int32
Desde el Tercer elemento, los elementos son 0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
dtype: int32

In [45]:
#Asignar indices diferentes a una serie

#Si no asignamos un indice, por defecto serán enteros desde el 0
serie = pd.Series([1,2,6,7,3])
print(serie)
#Podemos asignar nuestros propios index facilmente, siendo estos strings
serie = pd.Series([1,2,6,7,3], index=["A","B","C","D","E"])
print(serie)
serie.index

0    1
1    2
2    6
3    7
4    3
dtype: int64
A    1
B    2
C    6
D    7
E    3
dtype: int64

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [47]:
#Similar a un diccionario podemos acceder por el indice a nuestros elementos
serie = pd.Series([1,2,6,7,3], index=["A","B","C","D","E"])
print(serie)
print(serie["C"])

A    1
B    2
C    6
D    7
E    3
dtype: int64
6

In [57]:
#Podemos asemejar la Series como si fueran un Dict especializado
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
print(population,"\n")
#De esta forma convertimos un diccionario en una Serie de Pandas.
print("Obtenemos los contenidos: ",population.values,"\n")
print("Obtenemos los indices:",population.index,"\n")
#Como vimos esta Series funcionan similar a un dict, accediendo por llave
print(population["California"],"\n")
#Sin embargo la series soportan por ejemplo un slicing
print(population["Texas":"Florida"])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Obtenemos los contenidos:  [38332521 26448193 19651127 19552860 12882135]

Obtenemos los indices: Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

38332521

Texas       26448193
New York    19651127
Florida     19552860
dtype: int64

In [60]:
#Podemos crear una Serie a partir de listas
states_list = ['Illinois','Texas','New York', 'Florida', 'California']
states_pop = [12882135, 26448193, 19651127, 19552860, 38332521]
states = pd.Series(states_pop, index= states_list)
print(states)
#Prueba slicing
states['Illinois':'New York']

Illinois      12882135
Texas         26448193
New York      19651127
Florida       19552860
California    38332521
dtype: int64

Illinois    12882135
Texas       26448193
New York    19651127
dtype: int64

In [73]:
#De que formas podemos crear Series?

#Con una Lista
lista = [1,2,3,4,5]
serie = pd.Series(lista)
print(serie)
#Con un arreglo numpy
arreglo = np.arange(3,9)
serie = pd.Series(arreglo)
print(serie)
#Podemos crear una serie a partir de un escalar delimitandolo por los indices
escalar = 5
serie = pd.Series(escalar,index=["a","b","c"])
print(serie)
#A partir de un diccionario podemos crear una serie
diccionario = dict(nombre="Carlos",edad=12,ciudad="Lima")
serie = pd.Series(diccionario)
print(serie,"\n")
#Podemos obtener resultados delimitando las columnas
diccionario = dict(nombre="Carlos",edad=12,ciudad="Lima")
serie = pd.Series(diccionario,index=["ciudad","nombre"])
print(serie)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    3
1    4
2    5
3    6
4    7
5    8
dtype: int32
a    5
b    5
c    5
dtype: int64
nombre    Carlos
edad          12
ciudad      Lima
dtype: object

ciudad      Lima
nombre    Carlos
dtype: object

In [16]:
#DataFrames de varios diccionarios
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': np.nan}

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

calidad_ciudad = {"California":"A","Texas":"B","New York":"A+","Florida":"C","Illinois":"A"}



states = pd.DataFrame({'population': population_dict,'area': area_dict,"Calite":calidad_ciudad})
states

            population      area Calite
California    38332521  423967.0      A
Texas         26448193  695662.0      B
New York      19651127  141297.0     A+
Florida       19552860  170312.0      C
Illinois      12882135       NaN      A