# PANDAS BÁSICO

In [4]:
#Una lista en Pandas, junto a su ID
import pandas as pd
numeros = pd.Series([3,4,5,6,7])
print(numeros)

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [10]:
#Pandas en un diccionario
edades = pd.Series({"Ana":25,"Jorge":44,"Juan":24})
print(edades,"\n")
#Dos forma de invocar un dato
print(edades["Jorge"])
print(edades[1])

Ana      25
Jorge    44
Juan     24
dtype: int64

44
44

In [13]:
#El tamaño del elemento en pandas
numeros = pd.Series([3,4,5,6,7])
print(numeros.size)
#Te entrega los indices, limite inferior y limite superior. 
print(numeros.index)
#Tipo de dato en pandas
numeros.dtype

5
RangeIndex(start=0, stop=5, step=1)

dtype('int64')

In [15]:
#Seleccionar elementos
numeros = pd.Series([3,4,5,6,7])
seleccion = numeros[1:4]
PendingDeprecationWarning(seleccion)

PendingDeprecationWarning(1    4
                          2    5
                          3    6
                          dtype: int64)

In [20]:
#Contar, pero elementos no vacios o que no sean nada nan
numeros = pd.Series([3,4,5,6,7,None])
print(numeros.count())
#Contar los elementos vacios
len(numeros) - numeros.count()

5

1

In [21]:
#Suma de Numeros en Pandas
numeros = pd.Series([3,4,5,6,7,None])
numeros.sum()

25.0

In [22]:
#Suma de Numeros Acumuladas en Pandas
numeros = pd.Series([3,4,5,6,7,None])
numeros.cumsum()

0     3.0
1     7.0
2    12.0
3    18.0
4    25.0
5     NaN
dtype: float64

In [25]:
#Cuenta cuantas veces se repite un elemento, y no cuenta los None
numeros = pd.Series([3,4,5,6,7,7,None])
numeros.value_counts()

7.0    2
3.0    1
4.0    1
5.0    1
6.0    1
dtype: int64

In [27]:
#Maximos y Minimos de una Serie
numeros = pd.Series([3,4,5,6,7,7,None])
print(numeros.min())
print(numeros.max())

3.0
7.0

In [30]:
#Resumen descriptivo de Series
numeros = pd.Series([3,4,5,6,7,7,None])
#Promedio
numeros.mean()
#Desviación estandar
numeros.std()
numeros.describe()

count    6.000000
mean     5.333333
std      1.632993
min      3.000000
25%      4.250000
50%      5.500000
75%      6.750000
max      7.000000
dtype: float64

In [31]:
#Podemos operar facilmente con las Series en Pandas
numeros * 2

0     6.0
1     8.0
2    10.0
3    12.0
4    14.0
5    14.0
6     NaN
dtype: float64

In [33]:
#Funcion anonima aplicada a una serie en pandas
numeros.apply(lambda x: x**2)

0     9.0
1    16.0
2    25.0
3    36.0
4    49.0
5    49.0
6     NaN
dtype: float64

In [34]:
#Las mascaras funcionan en la serie de pandas
numeros[numeros%3!=0]

1    4.0
2    5.0
4    7.0
5    7.0
6    NaN
dtype: float64

In [35]:
#Otra forma de seleccion en pandas
numeros = pd.Series([3,4,5,6,7,7])
numeros[[True,True,False,False,True,True]]

0    3
1    4
4    7
5    7
dtype: int64

In [37]:
numeros = pd.Series([3,4,5,6,7,7,None])
print(numeros)
numeros.dropna()

0    3.0
1    4.0
2    5.0
3    6.0
4    7.0
5    7.0
6    NaN
dtype: float64

0    3.0
1    4.0
2    5.0
3    6.0
4    7.0
5    7.0
dtype: float64

In [43]:
#Forma alternativa para crear un diccionario, mas rapido
datos = dict(nombre = ["Angel","Maria"],edad =[26,33])

tabla = pd.DataFrame(datos)
tabla

  nombre  edad
0  Angel    26
1  Maria    33

In [ ]:
#Crear un DataFrame se oyede con lista de listas

In [51]:
#Combinamos numpy y pandas
import numpy as np
tabla =pd.DataFrame(np.random.random((3,2)),columns=["a","c"])
tabla

          a         c
0  0.246058  0.354764
1  0.601304  0.313470
2  0.873870  0.831430

In [1]:
#Ejemplo de un DataFrame con un Excel
#Le estar otorgando formato la tabla, se separa con ; y el decimal sera ,
df = pd.read_csv("colesterol.csv", sep=";",decimal=",",header=5)
df

NameError: name 'pd' is not defined

In [54]:
#Exportar_ten cuidado con pisar el archivo
df.to_csv("colesterol.csv")

In [57]:
#Los primeros elementos de una tabla, puede recibir parametro
df.head()
#Te devuelve la cola
df.tail()

,Unnamed: 0,nombre,edad,sexo,peso,altura,colesterol
0,0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0
1,1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0
2,2,Javier García Sánchez,24,H,NaN,1.81,191.0
3,3,Carmen López Pinzón,35,M,65.0,1.70,200.0
4,4,Marisa López Collado,46,M,51.0,1.58,148.0

In [72]:
#Traer una Columna, podemos operar con ella como nos guste
df["altura"]

1.79

In [74]:
#Traer una fila en especifico
df.loc[2]

Unnamed: 0                        2
nombre        Javier García Sánchez
edad                             24
sexo                              H
peso                            NaN
altura                         1.81
colesterol                    191.0
Name: 2, dtype: object

In [ ]:
#Recuerda que una columna seria como una serie.

In [83]:
#Podemos cambiar los indices de la tabla en pandas.
#Elminar la comuma
#del df["peso"]
#Podemos hacerlo con un pop, pero tambien nos la devolveria
df

    Unnamed: 0                           nombre  edad sexo  altura  colesterol
0            0     José Luis Martínez Izquierdo    18    H    1.79       182.0
1            1                   Rosa Díaz Díaz    32    M    1.73       232.0
2            2            Javier García Sánchez    24    H    1.81       191.0
3            3              Carmen López Pinzón    35    M    1.70       200.0
4            4             Marisa López Collado    46    M    1.58       148.0
5            5                Antonio Ruiz Cruz    68    H    1.74       249.0
6            6          Antonio Fernández Ocaña    51    H    1.72       276.0
7            7            Pilar Martín González    22    M    1.66         NaN
8            8             Pedro Gálvez Tenorio    35    H    1.94       241.0
9            9          Santiago Reillo Manzano    46    H    1.85       280.0
10          10            Macarena Álvarez Luna    53    M    1.62       262.0
11          11       José María de la Guía Sanz    58    H    1.87       198.0
12          12  Miguel Angel Cuadrado Gutiérrez    27    H    1.98       210.0
13          13            Carolina Rubio Moreno    20    M    1.77       194.0

In [89]:
df.drop([2,3])
df.head()

   Unnamed: 0                        nombre  edad sexo  altura  colesterol
0           0  José Luis Martínez Izquierdo    18    H    1.79       182.0
1           1                Rosa Díaz Díaz    32    M    1.73       232.0
2           2         Javier García Sánchez    24    H    1.81       191.0
3           3           Carmen López Pinzón    35    M    1.70       200.0
4           4          Marisa López Collado    46    M    1.58       148.0